<% @posts.each do |p| %>
    <div class='post' >
        <div>
            <%= p.title %>
        </div>
        <div>
            <%= p.body %>
        </div>
        <div>
            <p>Author: <%= user_signed_in? ? User.find(p.user_id).name : 'Sign in to see the author' %></p>
        </div>
    </div>
<% end %>